.title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px #ccc;
    margin-top: 50px;
    margin-bottom: 20px;
}

.navigation_menu {
    width: 1000px;
    height: 75px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.upgrade_button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.upgrade_button:hover {
    background-color: #3e8e41;
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.2);
}

.navigation_button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navigation_button:hover {
    background-color: #3e8e41;
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.2);
}

.terrain_cell {
    background-image: url("https://aos.azurewebsites.net/Style/bitmap/terrain.png");
    width: 30px;
    height: 30px;
    background-position: center;
    /* Center the image */
}

.rock_cell {
    background-image: url("https://aos.azurewebsites.net/Style/bitmap/rock.png");
    width: 30 px;
    height: 30 px;
    background-position: center;
}

.tree_cell {
    background-image: url("https://aos.azurewebsites.net/Style/bitmap/tree.png");
    width: 30 px;
    height: 30 px;
    background-position: center;
}

.water_cell {}

.loading_circle {
    position: absolute;
    top: 46%;
    left: 48%;
    width: 100px;
    height: 100px;
    border: 6px solid gray;
    border-top: 6px solid #4CAF50;
    border-radius: 50%;
    animation: loader-spin 2s linear infinite;
    z-index: 9999;
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}